:root{
    --dark-color: #1F2938;
    --button-color: #3882f6;
    --text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
}

header{
    background-color: var(--dark-color);
    color: var(--text-color);   
    font-size: 38px;

    padding: 20px;
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-nav-section{
    width: 1300px;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 700;
    font-size: 34px;
}

.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar > li > a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 24px;
}

.navbar > li > a:hover{
    color: var(--button-color);
    transition: 200ms ease;
}

.hero-section{
    width: 1300px;
    max-width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    padding: 150px 0;
}

.hero-section p {
    font-size: 24px;
}

.sign-up-container{
    font-size: 28px;
}

.sign-up-button{
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    transition: 200ms ease;

    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
}

.sign-up-button:hover{
    background-color: var(--text-color);
    color: var(--button-color);
}

.image-placeholder{
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main{
    width: 1300px;
    max-width: 100%;

    display: none;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 50px 20px;
    margin-bottom: 200px;
}

main h1{
    margin-bottom: 50px;
    color: var(--dark-color);
    font-size: 38px;
}

.boxes-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.box-container {
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.box{
    border: 5px solid var(--button-color);
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.subtext{
    font-size: 20px;
}

#quote-section{
    background-color: var(--secondary-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-container{
    width: 1000px;
    max-width: 100%;
    padding: 100px 10px;
    text-align: center;
}

#quote{
    font-size: 40px;
    font-style: light italic;
    color: #3d4653;
    text-align: justify;
    margin-bottom: 20px;
}

#autor{
    text-align: end;
    font-size: 24px;
    font-weight: 800;
}

#sign-up-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#sign-up-container{
    width: 1300px;
    max-width: 100%;
    padding: 50px 200px;
    border-radius: 10px;

    background-color: var(--button-color);
    font-size: 26px;
    color: var(--secondary-text-color);

    display: flex;
    justify-content: space-between;
}

#sign-up-text h5{
    font-size: 30px;
}

#sign-up-text p{
    font-size: 20px;
}

#sign-up-container button{
    border: 5px solid white;
}